header{
    text-align: center;
}

header h1{
    font-size: 2.7rem;
    margin: 30px;
    margin-bottom: 50px;
    word-spacing: 15px;
    color: white;
}


body{
    background-color:cornflowerblue;
    padding: 30px;
    background-image: url('bg.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    color: white;
}

.inputs{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.inputs input, .inputs select{
    width: 30%;
    margin: 0;
    padding: 3px;
    margin-right: 20px;
    height: 100%;
    box-sizing: content-box;
    color: white;
    font-size: 1.2rem;
}

.inputs input{
    text-align: center;
    background-color: rgb(96, 96, 178);
    border: none;
    color: white;
}

.tasks-table input{
    text-align: center;
    background-color: transparent;
    border: solid rgb(96, 96, 178);
    width: 100%;
    color: white;
}

select, .inputs select{
    text-align: center;
    margin-left: 10px;
    background-color: #cf5f53;
    border: none;
    color: white;
}

.inputs input::placeholder{
    color: rgba(255, 255, 255, 0.629);
}

.inputs button{

    box-sizing:content-box;
    color: rgb(240, 211, 219);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 45px;
}

#tasks .check{
    display: inline-block;
    width: min-content;
    
}

.inputs button:hover{
    color: orange;
}


.tasks-table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse; 

}

.tasks-table thead tr{
    border-bottom: solid;
}
.tasks-table tbody tr{
    border-bottom: solid;
    border-color:antiquewhite;
}

.tasks-table th, .tasks-table td{
    text-align: center;
    padding: 10px;
}

.tasks-table button{
    box-sizing:content-box;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: solid white;
}

.tasks-table .edit{
    border: solid rgb(77, 215, 81);
    margin: 5px;
}
.tasks-table .delete{
    border: solid red;
}

.filter{
    display: flex;
    justify-content: center;
    margin-top: 80px; ;
}

.d-none{
    display: none;
}

.edit:hover, .delete:hover{
    color: orange;
}

thead{
    background-color: rgba(62, 134, 61, 0.396);
}

tbody tr:nth-child(even){
    background-color: rgbA(169, 90, 90,0.6);
}

tbody tr:nth-child(odd){
   
    background-color: rgba(195, 103, 42, 0.6)

}

